# Day 1

In [9]:
print("Hey Hamid! ")
print("You have the power to achieve Your Gola!")
print("Lets get started")

Hey Hamid!
You have the power to achieve Your Gola!
Lets get started

In [4]:
#This is a comment.
print("Comments start with a #")

Comments start with a #

### Comments use for many purposes:
#### 1.to explain Python code.
#### 2.  to make the code more readable.
#### 3. prevent execution when testing code.

In [7]:
"""
This is a comment
written in
more than just one line 
of code with triple q
"""
print("Hey Fara!")

Hey Fara!

# Python Variables

In [10]:
# variables
# integer
price = 100

#boolean
is_open = True

#Flotting point Number
score = 12.6

print(price)
print(is_open)
print(score)

100
True
12.6

In [12]:
x = 10
name = "Hamid"
print(x)
print(name)

10
Hamid

In [15]:
# knowing the type of varibale
print(type(name))
print(type(x))

<class 'str'>
<class 'int'>

In [18]:
xx = int(5)
yy = str(5)
zz = float(5)


print(type(xx))
print(type(yy))
print(type(zz))

<class 'int'>
<class 'str'>
<class 'float'>

## Python Data Types

### Built-in Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

In [19]:
# Examples

In [22]:
string = "this is String"
integer = 34
float_1 = 67.4
complex_Ex = 5j
list_Ex = ["Hamid","Ali", "Jahan", "Fatima"]
tuple_Ex = ("Hamid","Ali", "Jahan", "Fatima")
range_Ex = range(10)
dictioanry_ex = {"name": "Hamid", "Place": "Kabul", "Age": 23}
set_ex = {"Hamid","Ali", "Jahan", "Fatima"}
bool_Ex = True

In [24]:
print(string)
print(integer)
print(float_1)
print(complex_Ex)
print(list_Ex)
print(tuple_Ex)
print(range_Ex)
print(dictioanry_ex)
print(set_ex)
print(bool_Ex)

this is String
34
67.4
5j
['Hamid', 'Ali', 'Jahan', 'Fatima']
('Hamid', 'Ali', 'Jahan', 'Fatima')
range(0, 10)
{'name': 'Hamid', 'Place': 'Kabul', 'Age': 23}
{'Hamid', 'Fatima', 'Ali', 'Jahan'}
True